body {
    margin:20px ;
    background-color: #f4f6f9;
}

/* Título principal */
h1, h2 {
    color: #2c3e50;
    font-weight: 600;
    text-align: center;

}

/* Card do formulário */
.card {
    border: none;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* Badge do tipo (Jogo, Filme, etc.) */
.badge {
    font-size: 0.85rem;
    padding: 6px 12px;
}

/* Texto "Indicado por" */
.text-muted strong {
    color: #00b894;
    font-weight: 500;
}

/* Botão Salvar mais bonito */
.btn-primary {
    background-color: #6c5ce7;
    border: none;
}

.btn-primary:hover {
    background-color: #5649c0;
}

/* Espaçamento extra no container */
.container {
    max-width: 1100px;
}

p{
    font-size: 1.1rem;
    text-align: left;
    padding: 6px 12px;
}

.container-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-lista {
    display: inline;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #6c5ce7;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    align-items: center;   
    text-align: center;
    width: fit-content;
}
