{% extends "base.html" %}
{% block content %}

<div class="container-principal">

    <div class="form-card">
        <form method="POST">
            <input type="text" name="titulo-atividade" 
                id="titulo-atividade" placeholder="Título da Atividade" 
                required value="{{ atividade_selecionada.titulo_atividade if atividade_selecionada else '' }}">

           <select name="tipo_de_atividade" id="tipo_de_atividade" required>
    
                <option value="" disabled {% if not atividade_selecionada %}selected{% endif %}>
                    Selecione o tipo...
                </option>

                {% set opcoes_padrao = ['Jogo', 'Filme', 'Série', 'Livro'] %}

                {% for opcao in opcoes_padrao %}
                    <option value="{{ opcao }}" 
                        {% if atividade_selecionada and atividade_selecionada.tipo_de_atividade == opcao %}selected{% endif %}>
                        {{ opcao }}
                    </option>
                {% endfor %}

                {% for tipo in lista_de_tipos %}
                    <option value="{{ tipo }}" 
                        {% if atividade_selecionada and atividade_selecionada.tipo_de_atividade == tipo %}selected{% endif %}>
                        {{ tipo }}
                    </option>
                {% endfor %}

            </select>
            
            <input type="search" name="indicado_por" placeholder="Indicado por(opcional):"
                id="tipo" value="{{ atividade_selecionada.indicado_por if atividade_selecionada else '' }}">

            <div class="form-buttons">
                <button type="submit" class="btn-save">Salvar</button>

                {% if atividade_selecionada %}
                    <a href="{{ url_for('atividade') }}" class="btn-cancel">Cancelar</a>
                {% endif %}
            </div>
        </form>
    </div>

    <h2>Lista de Atividades</h2>

    <div class="atividade-card">
        {% if atividades %}
            <ul>
                {% for atividade in atividades %}
                    <li>
                        <span class="atividade-texto">
                            {{ atividade.titulo_atividade }} <br> 
                            <small>{{ atividade.tipo_de_atividade }}</small>
                        </span>
                        
                        <div class="atividade-actions">
                            <a href="{{ url_for('update', idAtividade=atividade.id_atividade) }}" class="btn-update">Editar</a>
                            <a href="{{ url_for('delete', idAtividade=atividade.id_atividade) }}" class="btn-delete">Apagar</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="espaco-de-atividades">
                <p>Nenhuma atividade cadastrada</p>
            </div>
        {% endif %}
    </div>

</div>
{% endblock %}